<div class="container">
  <h2 class="header">成员信息</h2>
  <div class="row">

    <div class="row">
      <div class="input-field col s6">
        <!--<i class="material-icons prefix">search</i>-->
        <input  #searchInput id="search" type="text"  (keyup.enter)="search(searchInput.value)" >
        <label for="search">搜索</label>
      </div>

    </div>

  </div>

  <table id="myTable" class="table table-bordered table-hover highlight">
    <thead>
    <tr>
      <th *ngFor="let header of headerInfo ">{{ header }}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let member of members ">

      <td>{{ member.studentID }}</td>
      <td>{{member.name}}</td>
      <td>{{ member.privilegeType| privilege}}</td>

      <td>
        <a (click)="editMember(member.memberid)"  class="btn-floating green"><i class="material-icons">mode_edit</i></a>
      </td>
    </tr>
    </tbody>

  </table>

  <ul class="pagination right-align">
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    <li class="active"><a href="#!">1</a></li>
    <li class="waves-effect"><a href="#!">2</a></li>
    <li class="waves-effect"><a href="#!">3</a></li>
    <li class="waves-effect"><a href="#!">4</a></li>
    <li class="waves-effect"><a href="#!">5</a></li>
    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
  </ul>
  <div class="myfixed-btn">
    <a class="btn-floating btn-large red" (click)="myclick()" >
      <i class="material-icons">menu</i>
    </a>
    <ul>
      <li><a class="btn-floating red"><i class="material-icons">delete</i></a></li>
      <li><a class="btn-floating yellow darken-1"><i class="material-icons">add</i></a></li>
    </ul>
  </div>

</div>
