<div class="container">
<!--<h2 class="header">个人信息</h2>-->
</div>
<div class="row">
  <div class="col s12 ">
    <div class="card">
      <div class="card-image">
        <img src="../../assets/images/office.jpg" >
        <span class="card-title">个人信息</span>
      </div>
      <div class="card-content">

        <ul id="profile-page-about-details" class="collection z-depth-1">
          <li class="collection-item">
            <div class="row">
              <div class="col s5">
                <i class="material-icons left">account_box</i> 姓名</div>
              <div class="col s7 right-align">ABC Name</div>
            </div>
          </li>
          <li class="collection-item">
            <div class="row">
              <div class="col s5">
                <i class="material-icons left">filter_1</i> 学号</div>
              <div class="col s7 right-align">2017218</div>
            </div>
          </li>
          <li class="collection-item">
            <div class="row">
              <div class="col s5">
                <i class="material-icons left">supervisor_account</i> 职务</div>
              <div class="col s7 right-align">NY, USA</div>
            </div>
          </li>
          <!--<li class="collection-item">-->
            <!--<div class="row">-->
              <!--<div class="col s5">-->
                <!--<i class="material-icons left">cake</i> Birth date</div>-->
              <!--<div class="col s7 right-align">18th June, 1991</div>-->
            <!--</div>-->
          <!--</li>-->
        </ul>


      </div>
      <div class="card-action">


          <ul class="stepper stepper-horizontal">
            <li class="">
              <ul>
                <li>
                  <a href="#!">
                    <span class="circle">1</span>
                    <span class="label">提交入党申请书</span>
                  </a>
                </li>
                <li>
                  <div class="step-content  lighten-3 margin">
                    <!--提交申请书的时间-->
                    <p></p>
                  </div>
                </li>

              </ul>
            </li>
            <li class="">
              <ul>
                <li>
                  <a href="#!">
                    <span class="circle">2</span>
                    <span class="label">成为入党积极分子</span>
                  </a>
                </li>
                <li>
                  <div class="step-content  lighten-3 margin">
                    <!--成为入党积极分子的时间-->
                    <p></p>
                  </div>
                </li>

              </ul>


            </li>
            <li class="">
              <ul>
                <li>
                  <a href="#!">
                    <span class="circle">3</span>
                    <span class="label">定为发展对象</span>
                  </a>
                </li>
                <li>
                  <div class="step-content  lighten-3 margin">
                    <!--成为发展对象的时间-->
                    <p></p>
                  </div>
                </li>

              </ul>


            </li>
            <li class="">
              <ul>
                <li>
                  <a href="#!">
                    <span class="circle">4</span>
                    <span class="label">正式入党</span>
                  </a>
                </li>
                <li>
                  <div class="step-content  lighten-3 margin">

                    <p>2017.1.1</p>


                  </div>
                </li>

              </ul>

            </li>
          </ul>


      </div>
    </div>
  </div>
  <div class="myfixed-btn">
    <a class="btn-floating btn-large red" (click)="editprofile()" >
      <i class="material-icons">mode_edit</i>
    </a>

  </div>
</div>

