

<ul id="slide-out" class="sidenav sidenav-fixed">
  <li class="">
      <a id="logo-container"  class="brand-logo " href="#!"><span class="logo-text">党员签到系统</span></a>
  </li>
  <li><div class="user-view">
    <div class="background">
      <img src="../../../assets/images/office.jpg">
    </div>
    <a href="#!user"><img class="circle" src="../../../assets/images/user.png"></a>
    <a href="#!name"><span class="white-text name">John Doe</span></a>
    <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
  </div></li>
  <li><a [routerLink]="['./account']" routerLinkActive="active"><i class="material-icons">person</i>个人信息</a></li>
  <li><a [routerLink]="['./member']" routerLinkActive="active"><i class="material-icons">people</i>成员管理</a></li>
  <li><a [routerLink]="['./check-in']" routerLinkActive="active"><i class="material-icons">event_available</i>我的签到</a></li>
  <li><a href="#!"><i class="material-icons">perm_contact_calendar</i>签到管理</a></li>
  <li><a href="#!"><i class="material-icons">class</i>查看模版</a></li>
  <li><a href="#!"><i class="material-icons">collections_bookmark</i>模版管理</a></li>
  <li><a href="#!"><i class="material-icons">attach_file</i>材料管理</a></li>
</ul>


