<div class="navbar-fixed">
<nav class=" white ">
  <div id="mynav" class="nav-wrapper black-text">
    <a href="#!" class="brand-logo padding"></a>
    <a href="#" data-target="slide-out" class=" black-text sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class=" right  hide-on-med-and-down ">
      <li><a class="black-text" href="javascript:scroll(0,0)">回到顶部</a></li>
      <!--<li><a class="black-text" href="badges.html">Components</a></li>-->
      <!--<li><a class="black-text" href="collapsible.html">Javascript</a></li>-->
      <!--<li><a class="black-text" href="mobile.html">Mobile</a></li>-->
    </ul>

  </div>
</nav>
</div>
