<div class="col-md-6 mb-r pb-5 md-marginTop is-Transformed">
  <div class="card">
    <div class="card-body">

      <!--Header-->
      <div class="form-header  deep-purple lighten-1  shadow ">
        <h3 class=""><i class="material-icons small ">lock</i>Login
        </h3>
      </div>

      <!--Body-->
      <div class="row">
        <div class="col s12 deep-purple-text text-lighten-1">
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix lightgrey">account_circle</i>
              <input #username  id="username" type="text" (keyup.enter)="login(username.value,password.value)" class="validate">
              <label for="username">用户名</label>
            </div>

          </div>
          <div class="row">
            <div class="input-field col s12 ">
              <i class="material-icons prefix lightgrey">lock</i>
              <input #password id="password" type="password" (keyup.enter)="login(username.value,password.value)" class="validate">
              <label for="password">密码</label>
            </div>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col s12 center-align">
          <button (click)="login(username.value,password.value)" class="btn  deep-purple lighten-1 waves-effect waves-light" >登录</button>
        </div>
      </div>
    </div>

    <!--Footer-->
    <div class="modal-footer">
      <div class="row">

      </div>
    </div>
  </div>
</div>

